{{!-- Dynamic Field Renderer --}}
{{!-- Renders a form field based on field definition from paragon item --}}
{{!--
  @param {Object} field - Field definition from paragon (with type, label, initial, etc.)
  @param {*} value - Current value from character data
  @param {*} customValue - Custom text value for select fields with allowCustom (stored at path_custom)
  @param {String} path - Form path for name attribute (e.g., "system.paragon.classAbilityData.fairGold")
  @param {Boolean} editable - Whether the field is editable
--}}

{{#if (eq field.type "text")}}
  <div class="form-group">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    <input type="text" name="{{path}}" value="{{value}}" data-dtype="String" {{#unless editable}}disabled{{/unless}} />
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "number")}}
  <div class="form-group">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    {{> "systems/die-rpg/templates/partials/number-spinner.hbs"
      name=path
      label=field.numberLabel
      value=value
      min=field.min
      max=field.max
    }}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "boolean")}}
  <div class="form-group checkbox-field">
    <label>
      <input type="checkbox" name="{{path}}" data-dtype="Boolean" {{checked value}} {{#unless editable}}disabled{{/unless}} />
      {{field.label}}
    </label>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "select")}}
  <div class="form-group">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    <select name="{{path}}" data-dtype="String" {{#unless editable}}disabled{{/unless}}>
      <option value="">{{localize "DIE_RPG.UI.DynamicField.SelectDefault"}}</option>
      {{#each field.choices as |choice|}}
        <option value="{{choice}}" {{#if (eq choice ../value)}}selected{{/if}}>{{choice}}</option>
      {{/each}}
      {{#if field.allowCustom}}
        <option value="___CUSTOM___" {{#if (eq "___CUSTOM___" value)}}selected{{/if}}>
          {{localize "DIE_RPG.UI.DynamicField.SomethingElse"}}
        </option>
      {{/if}}
    </select>
    {{#if field.allowCustom}}
      {{#if (eq value "___CUSTOM___")}}
        <div class="custom-input">
          <label>{{#if field.customLabel}}{{field.customLabel}}{{else}}{{localize "DIE_RPG.UI.DynamicField.CustomInputLabel"}}{{/if}}</label>
          <input type="text" name="{{path}}_custom" value="{{customValue}}" data-dtype="String" {{#unless editable}}disabled{{/unless}} />
        </div>
      {{/if}}
    {{/if}}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "multiSelect")}}
  <div class="form-group multiselect-field">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    <div class="checkbox-group">
      {{#each field.choices as |choice|}}
        <label class="checkbox-option">
          <input
            type="checkbox"
            data-multi-select="{{../path}}"
            value="{{choice}}"
            {{#if (contains ../value choice)}}checked{{/if}}
            {{#unless ../editable}}disabled{{/unless}}
          />
          <span>{{choice}}</span>
        </label>
      {{/each}}
    </div>
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "html")}}
  <div class="form-group html-field">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    {{#if editable}}
      <prose-mirror
        name="{{path}}"
        data-document-u-u-i-d="{{@root.actor.uuid}}"
        value="{{value}}"
        collaborate="true"
        toggled="true"
        compact="true"
      >
        {{{enrichedValue}}}
      </prose-mirror>
    {{else}}
      {{{enrichedValue}}}
    {{/if}}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "info")}}
  <div class="form-group info-field">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    <div class="info-content">
      {{{enrichedValue}}}
    </div>
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "itemList")}}
  {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
  {{> "systems/die-rpg/templates/partials/item-list.hbs"
      items=(filterItemsByType actor.items field.itemType)
      label=field.label
      itemType=field.itemType
      showCheckboxes=true
      checkboxPath=path
      selectedUUIDs=value
      editable=editable}}
  {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}

{{else if (eq field.type "group")}}
  <fieldset class="field-group">
    <legend>{{field.label}}</legend>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
    {{#each field.fields as |subfield|}}
      {{> "systems/die-rpg/templates/partials/dynamic-field.hbs"
          field=subfield
          value=(lookup ../value subfield.key)
          customValue=(lookup ../value (concat subfield.key "_custom"))
          enrichedValue=(lookup ../enrichedValue subfield.key)
          path=(concat ../path "." subfield.key)
          editable=../editable
          actor=../actor
          paragonItem=../paragonItem}}
    {{/each}}
  </fieldset>

{{else if (eq field.type "special")}}
  <div class="form-group special-field">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    {{#with (findSpecialByKey paragonItem.system.specials field.specialKey) as |special|}}
      <div class="special-reference">
        <div class="special-header">
          <h4 class="special-name">{{special.name}}</h4>
          <div class="special-tags">
            {{#if special.mandatory}}
              <span class="tag mandatory">{{localize "DIE_RPG.UI.DynamicField.MandatoryTag"}}</span>
            {{/if}}
            <span class="tag cost">{{localize "DIE_RPG.UI.DynamicField.CostTag" cost=special.cost}}</span>
          </div>
        </div>
        <div class="special-description">
          {{{enrichedValue}}}
        </div>
      </div>
    {{else}}
      <div class="special-reference error">
        <p class="hint error">
          <i class="fas fa-exclamation-triangle"></i>
          {{localize "DIE_RPG.UI.DynamicField.SpecialNotFound" key=field.specialKey}}
        </p>
        <p class="hint">{{localize "DIE_RPG.UI.DynamicField.SpecialNotFoundHint" key=field.specialKey}}</p>
      </div>
    {{/with}}
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else if (eq field.type "d6Net")}}
  <div class="form-group d6-net-field">
    <h4>{{field.label}}</h4>
    {{#if field.enrichedDescription}}<div class="field-description">{{{field.enrichedDescription}}}</div>{{/if}}
    <svg viewBox="{{svgD6NetViewBox}}" class="d6-net" preserveAspectRatio="xMidYMid meet">
      {{#each (d6FaceIds) as |faceId|}}
        <g class="d6-face" data-face-id="{{faceId}}">
          <rect
            x="{{svgD6FaceX faceId}}"
            y="{{svgD6FaceY faceId}}"
            width="{{svgD6FaceWidth faceId}}"
            height="{{svgD6FaceHeight faceId}}"
            class="face {{lookup ../value faceId}}"
            data-action="cycleD6Face"
            data-path="{{../path}}"
            data-face="{{faceId}}"
          />
          <text
            x="{{svgD6NumberX faceId}}"
            y="{{svgD6NumberY faceId}}"
            class="face-number"
          >{{faceId}}</text>
          {{#if (lookup ../value faceId)}}
            <text
              x="{{svgD6TextX faceId}}"
              y="{{svgD6TextY faceId}}"
              class="face-symbol {{lookup ../value faceId}}"
            >{{svgD6StateSymbol (lookup ../value faceId)}}</text>
          {{/if}}
        </g>
      {{/each}}
    </svg>
    {{#if field.hint}}<p class="hint">{{field.hint}}</p>{{/if}}
  </div>

{{else}}
  {{!-- Unknown field type --}}
  <div class="form-group error-field">
    <p class="error">{{localize "DIE_RPG.UI.DynamicField.UnknownFieldType" type=field.type}}</p>
    <p class="hint">{{localize "DIE_RPG.UI.DynamicField.UnknownFieldTypeHint"}}</p>
  </div>

{{/if}}
