{{!-- Paragon Looks Tab --}}
<section class="paragon-looks">
  <h3>{{localize 'DIE_RPG.Item.Paragon.FIELDS.looks.label'}}</h3>
  <p class="hint">Appearance/clothing options that characters can choose from.</p>

  <ol class="looks-list">
    {{#each system.looks as |look index|}}
      <li class="look-item" data-index="{{index}}">
        <div class="look-header">
          <span class="look-number">{{add index 1}}.</span>
          <div class="look-fields">
            <div class="form-group">
              <label>{{localize 'DIE_RPG.Item.Paragon.FIELDS.look.name.label'}}</label>
              <input type="text" name="system.looks.{{index}}.name" value="{{look.name}}" placeholder="e.g., Leather Jacket" />
            </div>
            <div class="form-group">
              <label>{{localize 'DIE_RPG.Item.Paragon.FIELDS.look.description.label'}}</label>
              <input type="text" name="system.looks.{{index}}.description" value="{{look.description}}" placeholder="Optional description" />
            </div>
            <div class="form-group">
              <label>{{localize 'DIE_RPG.Item.Paragon.FIELDS.look.defenseBonus.label'}}</label>
              <input type="number" name="system.looks.{{index}}.defenseBonus" value="{{look.defenseBonus}}" min="0" />
            </div>
          </div>
          <button type="button" class="delete-look" data-action="deleteLook" data-index="{{index}}" title="Delete Look">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </li>
    {{/each}}
  </ol>

  {{#if (eq system.looks.length 0)}}
    <p class="no-items">No looks defined. Add one below.</p>
  {{/if}}

  <button type="button" class="add-look" data-action="addLook">
    <i class="fas fa-plus"></i> {{localize 'DIE_RPG.Item.Paragon.AddLook'}}
  </button>
</section>
