{{! Paragon Advancements Tab }}
<section
	class="tab advancements {{tab.cssClass}}"
	data-group="primary"
	data-tab="advancements"
	data-subtype="{{document.type}}"
>
	{{! Advancement Pool }}
	<fieldset class="form-section advancement-pool">
		<legend>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementPool.Legend"}}</legend>
		<p class="hint">{{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementPool.Description"}}}</p>

		<div class="form-group stacked">
			<textarea
				name="system.advancements"
				rows="12"
				class="json-editor"
				placeholder='[{"id": 1, "name": "Sample Advancement"}]'
			>{{json system.advancements space=2}}</textarea>
			<p class="hint">{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementPool.FormatHint"}}</p>
		</div>

		<details class="advancement-pool-reference">
			<summary>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementPool.ExampleSummary"}}</summary>
			<pre><code>[
  { "id": 1, "name": "An Artist's Progress" },
  { "id": 2, "name": "It's Not What You Know" },
  { "id": 3, "name": "One Step Ahead" }
]</code></pre>
		</details>
	</fieldset>

	{{! Position Assignments }}
	<fieldset class="form-section advancement-assignments">
		<legend>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementAssignments.Legend"}}</legend>
		<p class="hint">{{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementAssignments.Description"}}}</p>

		<div class="form-group stacked">
			<textarea
				name="system.advancementAssignments"
				rows="10"
				class="json-editor"
				placeholder='{"row1-1": 1, "row1-2": 2, ...}'
			>{{json system.advancementAssignments space=2}}</textarea>
		</div>

		<details class="position-reference">
			<summary>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementAssignments.PositionReference"}}</summary>
			<div class="reference-content">
				<p>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementAssignments.PositionReferenceDesc"}}</p>
				<pre>Row 1: row1-1, row1-2, row1-3, row1-4, row1-5
Row 2: row2-1, row2-2
Row 3: row3-1, row3-2, row3-3
Row 4: row4-1, row4-2, row4-3, row4-4, row4-5
Row 5: row5-1, row5-2, row5-3, row5-4</pre>
			</div>
		</details>
	</fieldset>

	{{! Advancement Form Fields }}
	<fieldset class="form-section advancement-form-fields">
		<legend>{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementForms.Legend"}}</legend>
		<p class="hint">{{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementForms.Description"}}}</p>

		<div class="form-group stacked">
			{{!-- <label>Advancement Form Fields (JSON)</label> --}}
			<textarea
				name="system.advancementForms.fields"
				rows="10"
				class="json-editor"
				placeholder='[{"key": "exampleAdvancement", "type": "text", "label": "Example Advancement Field", "initial": ""}]'
			>{{json system.advancementForms.fields space=2}}</textarea>
			<p class="hint">
				{{localize "DIE_RPG.Item.Paragon.Documentation.AdvancementForms.SameAsClassAbilities"}}
			</p>
		</div>

		{{! Field Type Reference }}
		<details class="field-type-reference">
			<summary>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.Summary"}}</summary>
			<div class="reference-content">
				<p>
					<strong>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.AvailableTypes"}}</strong>
					{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.AvailableTypesList"}}<br
					/>
					<strong>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.RequiredProperties"}}</strong>
					{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.RequiredPropertiesList"}}<br />
					<strong>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.OptionalProperties"}}</strong>
					{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.OptionalPropertiesList"}}
				</p>
				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.TextFieldHeading"}}</h4>
				<pre><code>{ "key": "myTextField", "type": "text", "label": "My Text Field",
						"initial": "", "hint": "Optional help text" }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.NumberFieldHeading"}}</h4>
				<pre><code>{ "key": "myNumber", "type": "number", "label": "My Number",
						"initial": 0, "min": 0, "max": 10 }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.BooleanFieldHeading"}}</h4>
				<pre><code>{ "key": "myCheckbox", "type": "boolean", "label": "Enable
						Feature", "initial": false }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.SelectFieldHeading"}}</h4>
				<pre><code>{ "key": "mySelect", "type": "select", "label": "Choose Option",
						"choices": ["Option 1", "Option 2", "Option 3"], "initial": "" }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.MultiSelectFieldHeading"}}</h4>
				<pre><code>{ "key": "myMultiSelect", "type": "multiSelect", "label": "Choose
						Multiple", "choices": ["Choice A", "Choice B", "Choice C"], "initial": []
						}</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.HTMLFieldHeading"}}</h4>
				<pre><code>{ "key": "myRichText", "type": "html", "label": "Description",
						"initial": "" }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.InfoFieldHeading"}}</h4>
				<pre><code>{ "key": "myInfo", "type": "info", "label": "Information",
						"description": "&lt;p&gt;Static content displayed to the user.&lt;/p&gt;" }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.GroupFieldHeading"}}</h4>
				<pre><code>{ "key": "myGroup", "type": "group", "label": "Grouped Fields",
						"fields": [ {"key": "subField1", "type": "text", "label": "Sub Field 1"},
						{"key": "subField2", "type": "number", "label": "Sub Field 2"} ] }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.ItemListFieldHeading"}}</h4>
				<pre><code>{ "key": "myItems", "type": "itemList", "label": "My Items",
						"itemType": "spell" }</code></pre>

				<h4>{{localize "DIE_RPG.Item.Paragon.Documentation.FieldReference.SpecialFieldHeading"}}</h4>
				<pre><code>{ "key": "mySpecial", "type": "special", "label": "Special
						Ability", "specialKey": "neotech" }</code></pre>
			</div>
		</details>
	</fieldset>

	{{! JSON Validation Helper }}
	<div class="json-validation-hint">
		<p>
			<i class="fas fa-info-circle"></i>
			<strong>{{localize "DIE_RPG.Item.Paragon.Documentation.ValidationTip.TipLabel"}}</strong>
			{{localize "DIE_RPG.Item.Paragon.Documentation.ValidationTip.TipText"}}
		</p>
	</div>
</section>