{{! Equipment Tab }}
<section
	class='tab equipment {{tab.cssClass}}'
	data-group='primary'
	data-tab='equipment'
>
	{{! Owned Equipment List - EXISTING }}
	<div class="owned-equipment-section">
		{{#if availableEquipment.length}}
		<div class="starting-equipment-section">
			<h6>{{localize "DIE_RPG.UI.Headers.StartingEquipment"}}</h6>
			<p class="hint">{{localize "DIE_RPG.UI.Hints.SelectStartingEquipment"}}</p>
			<div class="equipment-selector">
				<select id="equipment-select" name="equipment-select">
					<option value="">{{localize "DIE_RPG.UI.Labels.SelectEquipment"}}</option>
					{{#each availableEquipment as |eq|}}
						<option value="{{eq.uuid}}">
							{{eq.name}}{{#if eq.system.defenseBonus}} (Defense +{{eq.system.defenseBonus}}){{/if}}
						</option>
					{{/each}}
				</select>
				<button type="button" data-action="addEquipmentFromParagon">
					<i class="fas fa-plus"></i>
					{{localize "DIE_RPG.UI.Labels.AddEquipment"}}
				</button>
			</div>
		</div>
	{{/if}}
	{{> "systems/die-rpg/templates/partials/item-list.hbs"
		items=equipment
		label=(localize "DIE_RPG.UI.Headers.EquipmentList")
		itemType="equipment"
		showCheckboxes=false
		editable=@root.editable}}
	</div>

	{{! Specials Display Section - MOVED FROM PARAGON }}
	{{#if paragonItem}}
		<div class="specials-section">
			<h5>{{localize "DIE_RPG.UI.Headers.Specials"}}</h5>
			{{#if aggregatedSpecials.length}}
				<div class="specials-list">
					{{#each aggregatedSpecials as |special|}}
						<div class="special-card">
							<div class="special-header">
								<h6 class="special-name">{{special.name}}</h6>
								<span class="special-cost" data-tooltip="{{localize 'DIE_RPG.UI.Tooltips.SpecialCost' cost=special.cost}}">
									{{#if (eq special.cost "special")}}
										{{localize "DIE_RPG.UI.SpecialCostDisplay.Single"}}
									{{else if (eq special.cost "double")}}
										{{localize "DIE_RPG.UI.SpecialCostDisplay.Double"}}
									{{else if (eq special.cost "triple")}}
										{{localize "DIE_RPG.UI.SpecialCostDisplay.Triple"}}
									{{else if (eq special.cost "quad")}}
										{{localize "DIE_RPG.UI.SpecialCostDisplay.Quad"}}
									{{else if (eq special.cost "twenty")}}
										{{localize "DIE_RPG.UI.SpecialCostDisplay.Twenty"}}
									{{else}}
										{{special.cost}}
									{{/if}}
								</span>
							</div>
							<div class="special-description">
								{{{special.description}}}
							</div>
							<div class="special-meta">
								<span class="special-source">{{localize "DIE_RPG.UI.Labels.Source"}} {{special.sourceName}}</span>
								{{#if special.mandatory}}
									<span class="special-mandatory" data-tooltip="{{localize 'DIE_RPG.UI.Tooltips.MandatorySpecial'}}">{{localize "DIE_RPG.Chat.AvailableSpecials.MandatoryBadge"}}</span>
								{{/if}}
							</div>
						</div>
					{{/each}}
				</div>
			{{else}}
				<p class="no-specials">{{localize "DIE_RPG.UI.EmptyStates.NoSpecials"}}</p>
			{{/if}}
		</div>
	{{/if}}

</section>
