<header class="sheet-header">
	<div class="header-top flexrow">

		<div class="left-col flexcol">
			{{! Paragon Selection Dropdown }}
			<div class="paragon-selection">
				<h2>
					<select
						id="paragon-select"
						>
						{{selectOptions
							paragons
							selected=actor.system.paragon.uuid
							valueAttr="uuid"
							labelAttr="name"
							blank="(No Paragon Selected)"
							sort=false
						}}
					</select>
				</h2>
				<button
					type="button"
					class="paragon-sheet-icon-btn"
					data-action="viewParagon"
					data-tooltip="Open Paragon Sheet"
					{{#unless paragonItem}}disabled{{/unless}}
				>
					<i class="fas fa-book-open"></i>
				</button>
			</div>

			<div>
				{{!-- <label class="name-label">Your Name:</label> --}}
				<input
					class="document-name"
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</div>

			{{! Flashback Indicator }}
			<div class="flashback-indicator">
				<span class="flashback-status {{#if actor.system.flashbackUsed}}used{{else}}available{{/if}}">
					<i class="fas fa-history"></i>
					Flashback:
					{{#if actor.system.flashbackUsed}}
						<span class="status-text">Used</span>
					{{else}}
						<span class="status-text">Available</span>
					{{/if}}
				</span>
				<button
					type="button"
					class="reset-flashback-btn"
					data-action="resetFlashback"
					data-tooltip="{{localize 'DIE_RPG.Actor.Character.ResetFlashback'}}"
					{{#unless actor.system.flashbackUsed}}disabled{{/unless}}
				>
					<i class="fas fa-redo"></i>
				</button>
			</div>
		</div>

		{{#if paragonItem}}
			<div class="right-col class-dice">
				<div class="class-dice-description">
					<h3 class="class-dice-title">Class Dice: {{uppercase paragonItem.system.die}}</h3>
					<p>
						{{uppercase paragonItem.system.coreAbility.name}}
					</p>
					<p>
						{{{paragonItem.system.coreAbility.description}}}
					</p>
				</div>
				<img
					class="class-dice-img"
					src="systems/die-rpg/assets/icons/{{paragonItem.system.die}}-exploded.svg"
					width="100"
				/>
			</div>
		{{else}}
			<div class="right-col class-dice">
				<div class="class-dice-description">
					<h3 class="class-dice-title">No Paragon Selected</h3>
					<p>
						Please select a paragon to see class dice and core ability
					</p>
				</div>
			</div>
		{{/if}}
	</div>
</header>