<header class="sheet-header">
	<div class="header-top flexrow">

		<div class="left-col flexcol">
			{{! Character-specific header content }}
			{{#if (eq actor.type "character")}}
				{{! Paragon Selection Dropdown }}
				<div class="paragon-selection">
					<h2>
						<select
							id="paragon-select"
							>
							{{selectOptions
								paragons
								selected=actor.system.paragon.uuid
								valueAttr="uuid"
								labelAttr="name"
								blank=(localize "DIE_RPG.UI.EmptyStates.NoParagonSelected")
								sort=false
							}}
						</select>
					</h2>
					<button
						type="button"
						class="paragon-sheet-icon-btn"
						data-action="viewParagon"
						data-tooltip="{{localize 'DIE_RPG.UI.Tooltips.OpenParagonSheet'}}"
						{{#unless paragonItem}}disabled{{/unless}}
					>
						<i class="fas fa-book-open"></i>
					</button>
				</div>
			{{/if}}

			{{! Name field (both Character and NPC) }}
			<div>
				<input
					class="document-name"
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="{{#if (eq actor.type 'npc')}}{{localize 'DIE_RPG.UI.Placeholders.NPCName'}}{{else}}{{localize 'DIE_RPG.UI.Placeholders.Name'}}{{/if}}"
				/>
			</div>

			{{! NPC-specific header content }}
			{{#if (eq actor.type "npc")}}
				<div class="npc-type-display">
					{{#if actor.system.attributes.npcType}}
						<span class="npc-type">{{localize (concat "DIE_RPG.Actor.NPC.Type." (capitalize actor.system.attributes.npcType))}}</span>
						{{#if actor.system.attributes.creatureType}}
							<span class="npc-subtype"> - {{capitalize actor.system.attributes.creatureType}}</span>
						{{else if actor.system.attributes.paragonSubtype}}
							<span class="npc-subtype"> - {{capitalize actor.system.attributes.paragonSubtype}} ({{capitalize actor.system.attributes.paragonPowerLevel}})</span>
						{{else if actor.system.attributes.echoLevel}}
							<span class="npc-subtype"> - {{capitalize actor.system.attributes.echoLevel}}</span>
						{{else if actor.system.attributes.fallenSubtype}}
							<span class="npc-subtype"> - {{capitalize actor.system.attributes.fallenSubtype}}</span>
						{{/if}}
					{{/if}}
				</div>
			{{/if}}

			{{! Character flashback indicator }}
			{{#if (eq actor.type "character")}}
				<div class="flashback-indicator">
					<span class="flashback-status {{#if actor.system.flashbackUsed}}used{{else}}available{{/if}}">
						<i class="fas fa-history"></i>
						{{localize "DIE_RPG.UI.Labels.Flashback"}}
						{{#if actor.system.flashbackUsed}}
							<span class="status-text">{{localize "DIE_RPG.UI.Status.Used"}}</span>
						{{else}}
							<span class="status-text">{{localize "DIE_RPG.UI.Status.Available"}}</span>
						{{/if}}
					</span>
					<button
						type="button"
						class="reset-flashback-btn"
						data-action="resetFlashback"
						data-tooltip="{{localize 'DIE_RPG.Actor.Character.ResetFlashback'}}"
						{{#unless actor.system.flashbackUsed}}disabled{{/unless}}
					>
						<i class="fas fa-redo"></i>
					</button>
				</div>
			{{/if}}
		</div>

		{{! Right column - Character class dice only }}
		{{#if (eq actor.type "character")}}
			{{#if paragonItem}}
				<div class="right-col class-dice">
					<div class="class-dice-description">
						<h3 class="class-dice-title">{{localize "DIE_RPG.UI.Labels.ClassDice"}} {{uppercase paragonItem.system.die}}</h3>
						<p>
							{{uppercase paragonItem.system.coreAbility.name}}
						</p>
						<p>
							{{{paragonItem.system.coreAbility.description}}}
						</p>
					</div>
					<img
						class="class-dice-img"
						src="{{#if paragonItem.system.classDiceImage}}{{paragonItem.system.classDiceImage}}{{else}}systems/die-rpg/assets/DIE/dice/{{paragonItem.system.die}}-exploded.svg{{/if}}"
						width="100"
					/>
				</div>
			{{else}}
				<div class="right-col class-dice">
					<div class="class-dice-description">
						<h3 class="class-dice-title">{{localize "DIE_RPG.UI.EmptyStates.NoParagonSelected"}}</h3>
						<p>
							{{localize "DIE_RPG.UI.EmptyStates.PleaseSelectParagon"}}
						</p>
					</div>
				</div>
			{{/if}}
		{{/if}}
	</div>
</header>