{{! NPC Details Tab }}
<section
	class='tab npc-details {{tab.cssClass}}'
	data-group='primary'
	data-tab='npc-details'
>
	<div class="npc-details-grid">
		{{! Description Field }}
		<div class="form-group stacked description-field">
			<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.description.label'}}</label>
			<div class="editor scroll-indicators">
				{{#if editable}}
					<prose-mirror
						name="system.description"
						data-document-u-u-i-d="{{actor.uuid}}"
						value="{{actor.system.description}}"
						collaborate="true"
						toggled="true"
						compact="true">
						{{{enrichedDescription}}}
					</prose-mirror>
				{{else}}
					{{{enrichedDescription}}}
				{{/if}}
			</div>
		</div>

		{{! Defence Notes Field }}
		<div class="form-group stacked defence-notes-field">
			<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.defenceNotes.label'}}</label>
			<div class="editor scroll-indicators">
				{{#if editable}}
					<prose-mirror
						name="system.defenceNotes"
						data-document-u-u-i-d="{{actor.uuid}}"
						value="{{actor.system.defenceNotes}}"
						collaborate="true"
						toggled="true"
						compact="true">
						{{{enrichedDefenceNotes}}}
					</prose-mirror>
				{{else}}
					{{{enrichedDefenceNotes}}}
				{{/if}}
			</div>
		</div>

	</div>
</section>
