{{! NPC Abilities Tab }}
<section
	class='tab npc-abilities {{tab.cssClass}}'
	data-group='primary'
	data-tab='npc-abilities'
>
	<div class="npc-abilities-container">

		{{! Add Ability Button }}
		<div class="abilities-header">
			<h3>{{localize 'DIE_RPG.Actor.NPC.AbilitiesTitle'}}</h3>
			{{#if editable}}
				<button
					type="button"
					class="add-ability-btn"
					data-action="addAbility"
					data-tooltip="{{localize 'DIE_RPG.Actor.NPC.AddAbility'}}"
				>
					<i class="fas fa-plus"></i>
					{{localize 'DIE_RPG.Actor.NPC.AddAbility'}}
				</button>
			{{/if}}
		</div>

		{{! Abilities List }}
		<div class="abilities-list">
			{{#if actor.system.abilities}}
				{{#each actor.system.abilities as |ability index|}}
					<div class="ability-block" data-ability-index="{{index}}">
						<div class="ability-header">
							<div class="ability-name-input">
								<label>{{localize 'DIE_RPG.Actor.NPC.AbilityName'}}</label>
								<input
									type="text"
									name="system.abilities.{{index}}.name"
									value="{{ability.name}}"
									placeholder="{{localize 'DIE_RPG.UI.Placeholders.AbilityName'}}"
									{{#unless ../editable}}disabled{{/unless}}
								/>
							</div>
							{{#if ../editable}}
								<button
									type="button"
									class="delete-ability-btn"
									data-action="deleteAbility"
									data-ability-index="{{index}}"
									data-tooltip="{{localize 'DIE_RPG.Actor.NPC.DeleteAbility'}}"
								>
									<i class="fas fa-trash"></i>
								</button>
							{{/if}}
						</div>

						<div class="ability-description">
							<label>{{localize 'DIE_RPG.Actor.NPC.AbilityDescription'}}</label>
							<div class="editor scroll-indicators">
								{{#if ../editable}}
									<prose-mirror
										name="system.abilities.{{index}}.description"
										data-document-u-u-i-d="{{../actor.uuid}}"
										value="{{ability.description}}"
										collaborate="true"
										toggled="true"
										compact="true">
										{{{ability.description}}}
									</prose-mirror>
								{{else}}
									{{{ability.description}}}
								{{/if}}
							</div>
						</div>

						{{! Ability Specials }}
						<div class="ability-specials">
							<div class="specials-header">
								<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.ability.specials.label'}}</label>
								{{#if ../editable}}
									<button
										type="button"
										class="add-special-btn"
										data-action="addSpecial"
										data-ability-index="{{index}}"
										data-tooltip="{{localize 'DIE_RPG.Actor.NPC.AddSpecial'}}"
									>
										<i class="fas fa-plus"></i>
									</button>
								{{/if}}
							</div>

							{{#if ability.specials}}
								<div class="specials-list">
									{{#each ability.specials as |special specialIndex|}}
										{{> "systems/die-rpg/templates/partials/special-item.hbs"
											special=special
											index=specialIndex
											basePath=(concat "system.abilities." @../index ".specials")
											documentUuid=../../actor.uuid
											editable=../../editable
											deleteAction="deleteSpecial"
											deleteDataAttrs=(concat "data-ability-index='" @../index "'")
										}}
									{{/each}}
								</div>
							{{/if}}

							{{#if (eq ability.specials.length 0)}}
								<p class="no-specials-hint">{{localize 'DIE_RPG.UI.EmptyStates.NoSpecialsDefined'}}</p>
							{{/if}}
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="empty-state">
					<p>{{localize 'DIE_RPG.UI.EmptyStates.NoAbilities'}}</p>
					{{#if editable}}
						<p class="hint-text">{{localize 'DIE_RPG.UI.EmptyStates.ClickAddAbility'}}</p>
					{{/if}}
				</div>
			{{/if}}
		</div>

	</div>
</section>
