<div class="sidebar flexcol">
	{{! NPC name field (above profile image) }}
	<div class="npc-name-field">
		<input
			class="document-name"
			name="name"
			type="text"
			value="{{actor.name}}"
			placeholder="{{localize 'DIE_RPG.UI.Placeholders.NPCName'}}"
		/>
	</div>

	{{! Portrait image }}
	<img
		class="profile-img"
		src="{{actor.img}}"
		data-edit="img"
		data-action="onEditImage"
		title="{{actor.name}}"
		height="100"
		width="100"
	/>

	{{! NPC sidebar content - type/subtype forms }}
	<div class="npc-sidebar-forms scrollable scroll-indicators-self">
		{{! NPC Type Selection }}
		<div class="form-group">
			<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.npcType.label'}}</label>
			<select name="system.attributes.npcType">
				<option value="">{{localize 'DIE_RPG.UI.Placeholders.SelectNPCType'}}</option>
				<option value="paragon" {{#if (eq actor.system.attributes.npcType 'paragon')}}selected{{/if}}>
					{{localize 'DIE_RPG.Actor.NPC.Type.Paragon'}}
				</option>
				<option value="echo" {{#if (eq actor.system.attributes.npcType 'echo')}}selected{{/if}}>
					{{localize 'DIE_RPG.Actor.NPC.Type.Echo'}}
				</option>
				<option value="fallen" {{#if (eq actor.system.attributes.npcType 'fallen')}}selected{{/if}}>
					{{localize 'DIE_RPG.Actor.NPC.Type.Fallen'}}
				</option>
				<option value="fair" {{#if (eq actor.system.attributes.npcType 'fair')}}selected{{/if}}>
					{{localize 'DIE_RPG.Actor.NPC.Type.Fair'}}
				</option>
				<option value="creature" {{#if (eq actor.system.attributes.npcType 'creature')}}selected{{/if}}>
					{{localize 'DIE_RPG.Actor.NPC.Type.Creature'}}
				</option>
			</select>
		</div>

		{{! Conditional Subtype Fields }}

		{{! Paragon Subtypes }}
		{{#if (eq actor.system.attributes.npcType 'paragon')}}
			<div class="form-group">
				<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.paragonSubtype.label'}}</label>
				<select name="system.attributes.paragonSubtype">
					<option value="">{{localize 'DIE_RPG.UI.Placeholders.SelectParagonClass'}}</option>
					<option value="dictator" {{#if (eq actor.system.attributes.paragonSubtype 'dictator')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.Dictator'}}</option>
					<option value="neo" {{#if (eq actor.system.attributes.paragonSubtype 'neo')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.Neo'}}</option>
					<option value="emotion-knight" {{#if (eq actor.system.attributes.paragonSubtype 'emotion-knight')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.EmotionKnight'}}</option>
					<option value="godbinder" {{#if (eq actor.system.attributes.paragonSubtype 'godbinder')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.Godbinder'}}</option>
					<option value="fool" {{#if (eq actor.system.attributes.paragonSubtype 'fool')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.Fool'}}</option>
					<option value="master" {{#if (eq actor.system.attributes.paragonSubtype 'master')}}selected{{/if}}>{{localize 'DIE_RPG.Paragon.Master'}}</option>
				</select>
			</div>

			<div class="form-group">
				<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.paragonPowerLevel.label'}}</label>
				<select name="system.attributes.paragonPowerLevel">
					<option value="">{{localize 'DIE_RPG.UI.Placeholders.SelectPowerLevel'}}</option>
					<option value="basic" {{#if (eq actor.system.attributes.paragonPowerLevel 'basic')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.PowerLevel.Basic'}}</option>
					<option value="elite" {{#if (eq actor.system.attributes.paragonPowerLevel 'elite')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.PowerLevel.Elite'}}</option>
					<option value="hero" {{#if (eq actor.system.attributes.paragonPowerLevel 'hero')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.PowerLevel.Hero'}}</option>
				</select>
			</div>
		{{/if}}

		{{! Echo Subtypes }}
		{{#if (eq actor.system.attributes.npcType 'echo')}}
			<div class="form-group">
				<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.echoLevel.label'}}</label>
				<select name="system.attributes.echoLevel">
					<option value="">{{localize 'DIE_RPG.UI.Placeholders.SelectEchoLevel'}}</option>
					<option value="appearance" {{#if (eq actor.system.attributes.echoLevel 'appearance')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.EchoLevel.Appearance'}}</option>
					<option value="feelings" {{#if (eq actor.system.attributes.echoLevel 'feelings')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.EchoLevel.Feelings'}}</option>
					<option value="complete" {{#if (eq actor.system.attributes.echoLevel 'complete')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.EchoLevel.Complete'}}</option>
				</select>
			</div>
		{{/if}}

		{{! Fallen Subtypes }}
		{{#if (eq actor.system.attributes.npcType 'fallen')}}
			<div class="form-group">
				<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.fallenSubtype.label'}}</label>
				<select name="system.attributes.fallenSubtype">
					<option value="">{{localize 'DIE_RPG.UI.Placeholders.SelectFallenSubtype'}}</option>
					<option value="basic" {{#if (eq actor.system.attributes.fallenSubtype 'basic')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.FallenSubtype.Basic'}}</option>
					<option value="elite" {{#if (eq actor.system.attributes.fallenSubtype 'elite')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.FallenSubtype.Elite'}}</option>
					<option value="assassin" {{#if (eq actor.system.attributes.fallenSubtype 'assassin')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.FallenSubtype.Assassin'}}</option>
					<option value="epic" {{#if (eq actor.system.attributes.fallenSubtype 'epic')}}selected{{/if}}>{{localize 'DIE_RPG.Actor.NPC.FallenSubtype.Epic'}}</option>
				</select>
			</div>
		{{/if}}

		{{! The Fair Note }}
		{{#if (eq actor.system.attributes.npcType 'fair')}}
			<div class="form-group info-note">
				<p class="note-text">
					<i class="fas fa-info-circle"></i>
					{{localize 'DIE_RPG.Actor.NPC.FairNote'}}
				</p>
			</div>
		{{/if}}

		{{! Creature Types }}
		{{#if (eq actor.system.attributes.npcType 'creature')}}
			<div class="form-group">
				<label>{{localize 'DIE_RPG.Actor.NPC.FIELDS.attributes.creatureType.label'}}</label>
				<select name="system.attributes.creatureType">
					{{selectOptions
						config.creatureTypes
						selected=actor.system.attributes.creatureType
						localize=true
						blank=(localize "DIE_RPG.UI.Placeholders.SelectCreatureType")
					}}
				</select>
			</div>
		{{/if}}
	</div>
</div>
