<div class="sidebar flexcol">
	<img
		class="profile-img"
		src="{{#if (and paragonItem.system.portraitImage (eq actor.img 'icons/svg/mystery-man.svg'))}}{{paragonItem.system.portraitImage}}{{else}}{{actor.img}}{{/if}}"
		data-edit="img"
		data-action="onEditImage"
		title="{{actor.name}}"
		height="100"
		width="100"
	/>

	<div class="class-description scrollable scroll-indicators-self">
		{{#if paragonItem}}
			{{{paragonItem.system.coreNature}}}
		{{else}}
			<p>Select a paragon to view its description.</p>
		{{/if}}
	</div>
</div>