<div class="header-fields right-col">
	<h2>Stats</h2>
	<div class="stats flexrow">
		{{#each system.stats as |stat key|}}
			<div class="stat flexcol flex-group-center">
				<label
					class="resource-label rollable flexlarge align-left"
					data-action="statRoll"
					data-stat-name="{{key}}"
					data-label="{{localize (lookup @root.config.stats key)}}"
				>{{localize (lookup @root.config.statAbbreviations key)}}</label>
				<input
					type="text"
					name="system.stats.{{key}}.value"
					value="{{stat.value}}"
					class="stat-score"
					data-dtype="Number"
				/>
			</div>
		{{/each}}
	</div>
	{{! The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  }}
	<div class="resources grid grid-4col">

		{{! "flex-group-center" is also defined in the _grid.scss file
          and it will add a small amount of padding, a border, and will
          center all of its child elements content and text. }}

		{{! Health }}
		<div class="resource flex-group-center">
			<label for="system.health.value" class="resource-label">
				{{localize "DIE_RPG.Resources.hea.long"}}
			</label>
			<div class="resource-content flexrow flex-center flex-between">
				<input
					type="text"
					name="system.resources.health.value"
					value="{{system.resources.health.value}}"
					data-dtype="Number"
				/>
			</div>
		</div>

		{{! Guard }}
		<div class="resource flex-group-center">
			<label for="system.resources.guard.value" class="resource-label">
				{{localize "DIE_RPG.Resources.gua.long"}}
			</label>
			<div class="resource-content flexrow flex-center flex-between">
				<input
					type="text"
					name="system.resources.guard.value"
					value="{{system.resources.guard.value}}"
					data-dtype="Number"
				/>
			</div>
		</div>

		{{! Willpower }}
		<div class="resource flex-group-center">
			<label for="system.resources.willpower.value" class="resource-label">
				{{localize "DIE_RPG.Resources.wil.long"}}
			</label>
			<div class="resource-content flexrow flex-center flex-between">
				<input
					type="text"
					name="system.resources.willpower.value"
					value="{{system.resources.willpower.value}}"
					data-dtype="Number"
				/>
			</div>
		</div>

		{{! Defense }}
		<div class="resource flex-group-center">
			<label for="system.resources.defense.value" class="resource-label">
				{{localize "DIE_RPG.Resources.def.long"}}
			</label>
			<div class="resource-content flexrow flex-center flex-between">
				<input
					type="text"
					name="system.resources.defense.value"
					value="{{system.resources.defense.value}}"
					data-dtype="Number"
				/>
			</div>
		</div>
	</div>
</div>