{{!-- Arcane Weapon Details Tab --}}
<section class="tab arcaneweaponDetails {{tab.cssClass}}" data-group="primary" data-tab="arcaneweaponDetails" data-subtype="{{document.type}}">
  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponType.label'}}</label>
    <input
      type='text'
      name='system.weaponType'
      value='{{system.weaponType}}'
      list='weaponTypeList'
      placeholder='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponTypePlaceholder"}}'
    />
    <datalist id='weaponTypeList'>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponTypes.sword"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponTypes.bow"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponTypes.staff"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponTypes.spear"}}'></option>
    </datalist>
    <p class="hint">{{localize 'DIE_RPG.Item.ArcaneWeapon.FIELDS.weaponType.hint'}}</p>
  </div>

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.ArcaneWeapon.FIELDS.personality.label'}}</label>
    <input
      type='text'
      name='system.personality'
      value='{{system.personality}}'
      list='personalityList'
      placeholder='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.personalityPlaceholder"}}'
    />
    <datalist id='personalityList'>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.personalities.aggressive"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.personalities.cautious"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.personalities.playful"}}'></option>
      <option value='{{localize "DIE_RPG.Item.ArcaneWeapon.FIELDS.personalities.wise"}}'></option>
    </datalist>
    <p class="hint">{{localize 'DIE_RPG.Item.ArcaneWeapon.FIELDS.personality.hint'}}</p>
  </div>
</section>
