<section class="tab equipmentDetails {{tab.cssClass}}"  data-group="primary" data-tab="equipmentDetails" data-subtype="{{document.type}}">
  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.Equipment.FIELDS.defenseBonus.label'}}</label>
    <input
      type='number'
      name='system.defenseBonus'
      value='{{system.defenseBonus}}'
      data-dtype='Number'
      min='0'
    />
  </div>

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.Equipment.FIELDS.rollModType.label'}}</label>
    <select name='system.rollModType'>
      {{selectOptions config.rollModTypes name="system.rollModType" selected=system.rollModType localize=true}}
    </select>
  </div>

  {{#if (eq system.rollModType 'add_dice')}}
    <div class='form-group'>
      <label>{{localize 'DIE_RPG.Item.Equipment.FIELDS.rollModValue.label'}}</label>
      <input
        type='number'
        name='system.rollModValue'
        value='{{system.rollModValue}}'
        data-dtype='Number'
      />
    </div>
  {{/if}}

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.Equipment.FIELDS.specialText.label'}}</label>
    <input
      type='text'
      name='system.specialText'
      value='{{system.specialText}}'
    />
  </div>

</section>