{{!-- Gift Details Tab --}}
<section class="tab giftDetails {{tab.cssClass}}" data-group="primary" data-tab="giftDetails" data-subtype="{{document.type}}">
  <div class='form-group checkbox'>
    <label>
      <input type='checkbox' name='system.activated' {{checked system.activated}} />
      {{localize 'DIE_RPG.Item.Gift.FIELDS.activated.label'}}
    </label>
    <p class="hint">{{localize 'DIE_RPG.Item.Gift.FIELDS.activated.hint'}}</p>
  </div>

  {{!-- Display Derived Totals --}}
  <div class="derived-totals">
    <h3>Derived Stats</h3>
    <div class="totals-grid">
      <div class="total-item">
        <label>Total Defense:</label>
        <span class="total-value">{{system.totalDefense}}</span>
      </div>
      <div class="total-item">
        <label>Total Guard:</label>
        <span class="total-value">{{system.totalGuard}}</span>
      </div>
    </div>
  </div>

  {{!-- Upgrades Section --}}
  <fieldset class="upgrades-section">
    <legend>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrades.label'}}</legend>
    <p class="hint">Upgrades can be picked multiple times. Only one upgrade marked Defensive unless an advancement says otherwise.</p>

    <ol class="upgrades-list">
      {{#each system.upgrades as |upgrade index|}}
        <li class="upgrade-item" data-index="{{index}}">
          <div class="upgrade-header">
            <span class="upgrade-number">{{add index 1}}.</span>
            <div class="upgrade-main-fields">
              <div class="form-group">
                <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.name.label'}}</label>
                <input type="text" name="system.upgrades.{{index}}.name" value="{{upgrade.name}}" placeholder="Upgrade name" />
              </div>
              <div class="form-group">
                <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.defenseBonus.label'}}</label>
                <input type="number" name="system.upgrades.{{index}}.defenseBonus" value="{{upgrade.defenseBonus}}" data-dtype="Number" min="0" />
              </div>
            </div>
          </div>

          <div class="form-group stacked">
            <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.description.label'}}</label>
            <div class="editor">
              {{editor upgrade.description target=(concat "system.upgrades." index ".description") button=true editable=editable}}
            </div>
          </div>

          {{!-- Nested Specials for this Upgrade --}}
          {{#if upgrade.specials}}
            <div class="upgrade-specials">
              <h4>Specials for {{upgrade.name}}</h4>
              {{#each upgrade.specials as |special specialIndex|}}
                <div class="special-item-compact" data-special-index="{{specialIndex}}">
                  <input type="text" name="system.upgrades.{{index}}.specials.{{specialIndex}}.name" value="{{special.name}}" placeholder="Special name" />
                  <select name="system.upgrades.{{index}}.specials.{{specialIndex}}.cost">
                    {{selectOptions @root.config.specialCostTypes selected=special.cost localize=true blank=""}}
                  </select>
                  <button type="button" class="delete-upgrade-special" data-action="deleteUpgradeSpecial" data-upgrade-index="{{index}}" data-special-index="{{specialIndex}}" title="Delete Special">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              {{/each}}
              <button type="button" class="add-upgrade-special" data-action="addUpgradeSpecial" data-upgrade-index="{{index}}">
                <i class="fas fa-plus"></i> Add Special
              </button>
            </div>
          {{/if}}

          <button type="button" class="delete-upgrade" data-action="deleteUpgrade" data-index="{{index}}" title="Delete Upgrade">
            <i class="fas fa-trash"></i> Delete Upgrade
          </button>
        </li>
      {{/each}}
    </ol>

    {{#if (eq system.upgrades.length 0)}}
      <p class="no-items">No upgrades defined. Add one below.</p>
    {{/if}}

    <button type="button" class="add-upgrade" data-action="addUpgrade">
      <i class="fas fa-plus"></i> {{localize 'DIE_RPG.Item.Gift.AddUpgrade'}}
    </button>
  </fieldset>
</section>
