{{!-- Gift Details Tab --}}
<section class="tab giftDetails {{tab.cssClass}}" data-group="primary" data-tab="giftDetails" data-subtype="{{document.type}}">
  <div class='form-group checkbox'>
    <label>
      <input type='checkbox' name='system.activated' {{checked system.activated}} />
      {{localize 'DIE_RPG.Item.Gift.FIELDS.activated.label'}}
    </label>
    <p class="hint">{{localize 'DIE_RPG.Item.Gift.FIELDS.activated.hint'}}</p>
  </div>

  {{!-- Display Derived Totals --}}
  <div class="derived-totals">
    <h3>{{localize "DIE_RPG.UI.Headers.DerivedStats"}}</h3>
    <div class="totals-grid">
      <div class="total-item">
        <label>{{localize "DIE_RPG.UI.Labels.TotalDefense"}}</label>
        <span class="total-value">{{system.totalDefense}}</span>
      </div>
      <div class="total-item">
        <label>{{localize "DIE_RPG.UI.Labels.TotalGuard"}}</label>
        <span class="total-value">{{system.totalGuard}}</span>
      </div>
    </div>
  </div>

  {{!-- Upgrades Section --}}
  <fieldset class="upgrades-section">
    <legend>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrades.label'}}</legend>
    <p class="hint">{{localize "DIE_RPG.UI.Hints.UpgradesDescription"}}</p>

    <ol class="upgrades-list">
      {{#each system.upgrades as |upgrade index|}}
        <li class="upgrade-item" data-index="{{index}}">
          <div class="upgrade-header">
            <span class="upgrade-number">{{add index 1}}.</span>
            <div class="upgrade-main-fields">
              <div class="form-group">
                <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.name.label'}}</label>
                <input type="text" name="system.upgrades.{{index}}.name" value="{{upgrade.name}}" placeholder="{{localize 'DIE_RPG.UI.Placeholders.UpgradeName'}}" />
              </div>
              <div class="form-group">
                <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.defenseBonus.label'}}</label>
                <input type="number" name="system.upgrades.{{index}}.defenseBonus" value="{{upgrade.defenseBonus}}" data-dtype="Number" min="0" />
              </div>
            </div>
          </div>

          <div class="form-group stacked">
            <label>{{localize 'DIE_RPG.Item.Gift.FIELDS.upgrade.description.label'}}</label>
            <div class="editor scroll-indicators">
              {{editor upgrade.description target=(concat "system.upgrades." index ".description") button=true editable=editable}}
            </div>
          </div>

          {{!-- Nested Specials for this Upgrade --}}
          <div class="upgrade-specials">
            <h4>{{localize "DIE_RPG.UI.Sections.SpecialsForItem" name=upgrade.name}}</h4>
            {{#if upgrade.specials}}
              <div class="specials-list">
                {{#each upgrade.specials as |special specialIndex|}}
                  {{> "systems/die-rpg/templates/partials/special-item.hbs"
                    special=special
                    index=specialIndex
                    basePath=(concat "system.upgrades." @../index ".specials")
                    documentUuid=../../item.uuid
                    editable=../../editable
                    deleteAction="deleteUpgradeSpecial"
                    deleteDataAttrs=(concat "data-upgrade-index='" @../index "'")
                  }}
                {{/each}}
              </div>
            {{/if}}

            {{#if (eq upgrade.specials.length 0)}}
              <p class="no-items">{{localize "DIE_RPG.UI.EmptyStates.NoSpecialsDefined"}}</p>
            {{/if}}

            {{#if ../editable}}
              <button type="button" class="add-upgrade-special" data-action="addUpgradeSpecial" data-upgrade-index="{{index}}">
                <i class="fas fa-plus"></i> {{localize "DIE_RPG.UI.Buttons.AddSpecial"}}
              </button>
            {{/if}}
          </div>

          <button type="button" class="delete-upgrade" data-action="deleteUpgrade" data-index="{{index}}" title="{{localize 'DIE_RPG.UI.Buttons.DeleteUpgrade'}}">
            <i class="fas fa-trash"></i> {{localize "DIE_RPG.UI.Buttons.DeleteUpgrade"}}
          </button>
        </li>
      {{/each}}
    </ol>

    {{#if (eq system.upgrades.length 0)}}
      <p class="no-items">{{localize "DIE_RPG.UI.EmptyStates.NoUpgrades"}}</p>
    {{/if}}

    <button type="button" class="add-upgrade" data-action="addUpgrade">
      <i class="fas fa-plus"></i> {{localize 'DIE_RPG.Item.Gift.AddUpgrade'}}
    </button>
  </fieldset>
</section>
