{{!-- God Details Tab --}}
<section class="tab godDetails {{tab.cssClass}}" data-group="primary" data-tab="godDetails" data-subtype="{{document.type}}">
  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.God.FIELDS.title.label'}}</label>
    <input
      type='text'
      name='system.title'
      value='{{system.title}}'
      placeholder='{{localize "DIE_RPG.UI.Placeholders.GodTitle"}}'
    />
    <p class="hint">{{localize 'DIE_RPG.Item.God.FIELDS.title.hint'}}</p>
  </div>

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.God.FIELDS.level.label'}}</label>
    <input
      type='number'
      name='system.level'
      value='{{system.level}}'
      data-dtype='Number'
      min='1'
    />
  </div>

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.God.FIELDS.trust.label'}}</label>
    <input
      type='number'
      name='system.trust'
      value='{{system.trust}}'
      data-dtype='Number'
      min='0'
    />
  </div>

  <div class='form-group'>
    <label>{{localize 'DIE_RPG.Item.God.FIELDS.debt.label'}}</label>
    <input
      type='number'
      name='system.debt'
      value='{{system.debt}}'
      data-dtype='Number'
      min='0'
    />
  </div>

  {{!-- Scriptures/Benefits Section --}}
  <fieldset class="scriptures-section">
    <legend>{{localize 'DIE_RPG.Item.God.FIELDS.scriptures.label'}}</legend>
    <p class="hint">{{localize "DIE_RPG.UI.Hints.ScripturesDescription"}}</p>

    <ol class="scriptures-list">
      {{#each system.scriptures as |scripture index|}}
        <li class="scripture-item" data-index="{{index}}">
          <div class="scripture-header">
            <span class="scripture-number">{{add index 1}}.</span>
            <div class="form-group">
              <label>{{localize 'DIE_RPG.Item.God.FIELDS.scripture.name.label'}}</label>
              <input type="text" name="system.scriptures.{{index}}.name" value="{{scripture.name}}" placeholder="{{localize 'DIE_RPG.UI.Placeholders.ScriptureName'}}" />
            </div>
          </div>

          <div class="form-group stacked">
            <label>{{localize 'DIE_RPG.Item.God.FIELDS.scripture.description.label'}}</label>
            <div class="editor scroll-indicators">
              {{editor scripture.description target=(concat "system.scriptures." index ".description") button=true editable=editable}}
            </div>
          </div>

          {{!-- Nested Specials for this Scripture --}}
          <div class="scripture-specials">
            <h4>{{localize "DIE_RPG.UI.Sections.SpecialsForItem" name=scripture.name}}</h4>
            {{#if scripture.specials}}
              <div class="specials-list">
                {{#each scripture.specials as |special specialIndex|}}
                  {{> "systems/die-rpg/templates/partials/special-item.hbs"
                    special=special
                    index=specialIndex
                    basePath=(concat "system.scriptures." @../index ".specials")
                    documentUuid=../../item.uuid
                    editable=../../editable
                    deleteAction="deleteScriptureSpecial"
                    deleteDataAttrs=(concat "data-scripture-index='" @../index "'")
                  }}
                {{/each}}
              </div>
            {{/if}}

            {{#if (eq scripture.specials.length 0)}}
              <p class="no-items">{{localize "DIE_RPG.UI.EmptyStates.NoSpecialsDefined"}}</p>
            {{/if}}

            {{#if editable}}
              <button type="button" class="add-scripture-special" data-action="addScriptureSpecial" data-scripture-index="{{index}}">
                <i class="fas fa-plus"></i> {{localize "DIE_RPG.UI.Buttons.AddSpecial"}}
              </button>
            {{/if}}
          </div>

          <button type="button" class="delete-scripture" data-action="deleteScripture" data-index="{{index}}" title="{{localize 'DIE_RPG.UI.Buttons.DeleteScripture'}}">
            <i class="fas fa-trash"></i> {{localize "DIE_RPG.UI.Buttons.DeleteScripture"}}
          </button>
        </li>
      {{/each}}
    </ol>

    {{#if (eq system.scriptures.length 0)}}
      <p class="no-items">{{localize "DIE_RPG.UI.EmptyStates.NoScriptures"}}</p>
    {{/if}}

    <button type="button" class="add-scripture" data-action="addScripture">
      <i class="fas fa-plus"></i> {{localize 'DIE_RPG.Item.God.AddScripture'}}
    </button>
  </fieldset>
</section>
