{{!-- Specials Tab --}}
<section class="tab specials {{tab.cssClass}}"  data-group="primary" data-tab="specials" data-subtype="{{document.type}}">
  <h2>{{localize 'DIE_RPG.Item.Paragon.FIELDS.specials.label'}}</h2>
  <p class="hint">{{localize "DIE_RPG.UI.Hints.SpecialsDescription"}}</p>

  <div class="specials-list">
    {{#each system.specials as |special index|}}
      {{> "systems/die-rpg/templates/partials/special-item.hbs"
        special=special
        index=index
        basePath="system.specials"
        documentUuid=../item.uuid
        editable=../editable
        deleteAction="deleteSpecial"
      }}
    {{/each}}
  </div>

  {{#if (eq system.specials.length 0)}}
    <p class="no-items">{{localize "DIE_RPG.UI.EmptyStates.NoSpecialsDefined"}}</p>
  {{/if}}

  <button type="button" class="add-special" data-action="addSpecial">
    <i class="fas fa-plus"></i> {{localize 'DIE_RPG.Item.Paragon.AddSpecial'}}
  </button>
</section>
